$Color-white = #ffffff;
$Color-black = #00000;
$Color-Blaze-Orange = #fe6b00;
$Color-Alto = #d2d2d2;
$Color-Silver = #C4C4C4;
$Color-Dusty-Gray = #999999;
$Color-Clementine = #E66100;
$Color-Mine-Shaft = #212121;
