@import "variables.styl";

  
span+button {
    font-family: 'Roboto', sans-serif;
    display: block;
    font-style: normal;
    font-weight: normal;
}

.btn-verdetalhes {
    width: 100%;
    min-height: 36px;
    color: $Color-white;
    background-color: $Color-Blaze-Orange;
    border: transparent 1px;
    border-radius: 4px;

    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
}

.card {
    margin: 10px;
    padding: 3px;
    background-color: $Color-white;
    box-shadow: 2px 2px 2px 2px $Color-Alto;
    border-radius: 4px;
}

.bloco {
    margin: 10px;
}

.titulo {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
}

.imagem {
    max-width: 80%;
    max-height: 100%;
    margin: 0 auto;
    display: block;
}

.pai {
    position: relative;
    min-height: 14px;
}

.codigo {
    position: absolute;
    bottom: 0;
    left: 0;
    align-content: center;
    width: 100%;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #C4C4C4;
}

.valor-cortado {
    display: block;
    font-size: 11px;
    line-height: 13px;
    text-decoration-line: line-through;
    color: $Color-Dusty-Gray;
}

.valor {
    display: block;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: $Color-Clementine;
}

.texto-informacoes {
    font-size: 12px;
    line-height: 14px;
    color: $Color-Mine-Shaft;
}

.texto-titulo {
    font-size: 24px;
    color: $Color-Mine-Shaft;
    font-weight: bold;
}

.caixa-infos {
    padding: 5px;
}

.carregar-mais {
    width: calc(100% - 20px);
    margin: 0px 10px 10px 10px;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: $Color-Clementine;
    background: $Color-white;
    border: 2px solid $Color-Clementine;
    box-sizing: border-box;
    border-radius: 4px;
}

.fonte-md{
  font-size: 1.5em !important;
}

.fonte-lg{
  font-size: 2em;
  line-height: 46px;
}

.left{
  float: left;
}
.right{
  float: right;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}

.imagem-interna{
   margin: 20px auto !important;
}

.margin-t-b{
  margin: 20px auto;
}
